@import url('https://fonts.googleapis.com/css2?family=Platypi:wght@450');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    ovedrflow: hidden;
    font-family: 'Platypi', sans-serif;
    oudtline: 2px solid red;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

header, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header {
    border-bottom: 2px solid #fff;
}

.footer {
    border-top: 2px solid #fff;
}

.title {
    font-size: 36px;
    padding: 20px;
    color: #fff;
}

.footer-text {
    font-size: 14px;
    padding: 20px;
    color: #fff;
}

.main-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 20%;
    min-width: 380px;
    border: 2px solid #fff;
    border-radius: 8px;
    background-color: #000;
}

.calc-output-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100px;
    width: 100%;
}

.output-window {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 10px;
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.output-operation {
    font-size: 25px;
    align-self: center;
    text-align: center;
    width: 20px;
}

.output-text {
    font-size: 30px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.button {
    width: 65px;
    height: 65px;
    font-size: 20px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 6px;
    background-color: #fff;
    color: #000;
    /*background-color: #000;
    color: #fff;*/
}

.btn-clicked {
    background-color: #000;
    color: #fff;
}